<!-- write code to show a headline, paragraph date and author for article-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" type="text/css">
    <title>Welcome to Book Site</title>
</head>

<body>
    {% for article in articles %}
    {% if article.author.username == 'shivank'%}
    <h1 style="color:orange; ">{{ article.headline }}</h1>
    {% elif article.author.username == 'vama'%}
    <h1 style="color:violet; ">{{ article.headline }}</h1>
    {% elif article.author.username == 'senthil' %}
    <h1 style="color:blue;">{{ article.headline }}</h1>
    {% endif %}
    <br>
    <p>{{article.paragraph}}</p>
    <span>
        <p>{{article.author.username}}</p>
        <p>{{article.created_at}}</p>
    </span>
    <hr>
    {% endfor %}
</body>

</html>