<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <title>Welcome to Book Site</title>
</head>

<body>
    <h1>{{name}} is in {{semester}}</h1>
</body>

</html>